
[user]
  name = Akshay Padmanabha
  email = akshayp@mit.edu

[github]
  user = akshayp29

[core]
  editor = vim

[color]
  ui = auto

[alias]

[color]
  diff = auto
  status = auto
  branch = auto
  interactive = auto
  grep = auto

[credential]
  helper = osxkeychain

[push]
  default = simple

